<!-- your html code here -->
<div class="bg-white">

    <section class="container bg-white pt-5 my-5">
        <div class="row">

            <div class="col-md-7 mt-4 fw-light">
                <p class="fw-bolder display-6 ms-3">
                    This First Heading
                    <span class="text-secondary">Will Catch Your Eye</span>
                </p>
 
                <p class="fs-5 ms-3 fw-light">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                    Fusce dapibus, tellus ac cursus commodo.
                </p>
            </div>

            <div class="col-md-5 mb-5">
                <img src="./assets/img/1.jpg" class="rounded-circle w-75">
            </div>

        </div>
    </section>

</div>